@import 'tailwindcss';

@theme {
  --color-primary: #1a0e74;
  --color-accent: #c1295d;
  --color-light: #fda4af;
  --color-muted: #717182;
  --color-noir: #030213;
}

[x-cloak] {
  display: none !important;
}
