---
import Layout from '@/layouts/Layout.astro'
import { getLocale } from 'astro-i18n-aut'
import AlpineSearchBox from '@/components/AlpineSearchBox.astro'

const locale = getLocale(Astro.url)
---

<Layout title="Suche">
  <div class="p-24">
    <h1 class="text-5xl">Terminofeu {locale}</h1>
    <AlpineSearchBox />

    <p>Designed with Figma Make: https://power-wad-48224882.figma.site/</p>
  </div>
</Layout>
