---
import Layout from '@/layouts/Layout.astro'
import { getLocale } from 'astro-i18n-aut'
import AlpineSearchBox from '@/components/AlpineSearchBox.astro'
import { Flame } from '@lucide/astro'

const locale = getLocale(Astro.url)
---

<Layout title="Suche">
  <div class="grid justify-center items-center h-screen -mt-24 auto-cols-fr">
    <div class="max-w-lg w-full mx-auto">
      <div class="flex items-center justify-center mb-8">
        <Flame class="w-14 h-14 text-accent" />
        <h1 class="text-6xl">Terminofeu</h1>
      </div>
      <AlpineSearchBox />
    </div>
  </div>
</Layout>
