---
import Layout from '@/layouts/Layout.astro'
import { getLocale } from 'astro-i18n-aut'
import Search from '@/components/Search.astro'

const locale = getLocale(Astro.url)
---

<Layout title="Suche">
  <div class="grid justify-center items-center h-screen -mt-24 auto-cols-fr">
    <div class="max-w-lg w-full mx-auto">
      <Search />
    </div>
  </div>
</Layout>
