---
import { languages } from '@/i18n/config'
---

<footer class="bg-white border-t border-gray-200">
  <div class="max-w-7xl mx-auto px-6 pt-8 pb-6">
    <div class="flex justify-center">
      <div class="grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr] gap-12 max-w-4xl">
        <div>
          <h3 class="mb-4 text-gray-900">Über Terminofeu</h3>
          <p class="text-sm text-gray-600">
            Terminofeu enthält die im Anhang 2 der BSV 2026 definierten Begriffe
            in deutscher, französischer und in italienischer Sprache. Die
            Datenbank enthält auch Begriffe, Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Asperiores assumenda debitis ad
            impedit illo, deleniti at dignissimos.
          </p>
        </div>
        <div>
          <h3 class="mb-4 text-gray-900">Links</h3>
          <ul class="space-y-2 text-sm text-gray-600">
            <li>
              <a href="#" class="hover:text-gray-900"
                >Liste aller Brandschutz-Begriffen</a
              >
            </li>
            <li>
              <a href="#" class="hover:text-gray-900"
                >Schweizerische Brandschutzvorschriften 2026</a
              >
            </li>
            <li>
              <a href="#" class="hover:text-gray-900"
                >Vereinung Kantonaler Feuerversicherungen VKF</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h3 class="mb-4 text-gray-900">Sprachen</h3>
          <ul class="space-y-2">
            {
              languages.map((lang) => (
                <li class="flex items-center gap-2">
                  <div set:html={lang.flag} class="w-4 h-3" />
                  <span class="text-sm text-gray-600 capitalize">
                    {lang.name}
                  </span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div
      class="border-t pt-6 mt-8 text-center text-sm text-gray-500 border-gray-200"
    >
      © 2025 Vereinigung Kantonaler Feuerversicherungen (VKF)
    </div>
  </div>
</footer>
