---
import { languages } from '@/i18n/config'
import { Check } from '@lucide/astro'
---

<span class="block text-center text-sm text-muted">Suche in Sprachen:</span>
<div
  class="flex gap-x-4 justify-center mt-3"
  x-data={`{ langs: ${JSON.stringify(languages)} }`}
>
  <template x-for="lang in langs">
    <div>
      <input
        class="hidden"
        type="checkbox"
        :id="'lang-' + lang.code"
        :value="lang.code"
        x-model="$store.global.langs"
        @change="if ($store.global.langs.length === 0) $store.global.langs = [lang.code]"
      />
      <label
        :for="'lang-' + lang.code"
        class="capitalize w-max rounded-lg py-1 px-3 flex items-center gap-3 border border-muted"
        :class="$store.global.langs.includes(lang.code) ? 'bg-gray-900 text-white' : 'bg-white text-noir'"
      >
        <div x-html="lang.flag" class="w-4 h-3"></div>
        <span x-text="lang.name"></span>
        <Check
          class="w-5 h-5"
          x-show="$store.global.langs.includes(lang.code)"
        />
      </label>
    </div>
  </template>
</div>
