---
import { Flame } from '@lucide/astro'
---

<div class="flex items-center justify-center mb-4 bg-[#ffffff] py-6">
  <Flame class="w-14 h-14 text-accent" />
  <h1 class="text-6xl">Terminofeu</h1>
</div>
