---
import LanguageSelector from './LanguageSelector.astro'
import AlpineSearchBox from './AlpineSearchBox.astro'
import Logo from './Logo.astro'
---

<div class="bg-[#ffffff] p-4">
  <Logo />
  <AlpineSearchBox />
  <LanguageSelector />
</div>
