---
import LanguageSelector from './LanguageSelector.astro'
import AlpineSearchBox from './AlpineSearchBox.astro'
import Logo from './Logo.astro'
---

<div class="bg-[#ffffff]/40 p-4 max-w-lg w-full mx-auto">
  <Logo />
  <AlpineSearchBox />
  <LanguageSelector />
</div>
