---
import Layout from '@/layouts/Layout.astro'
import AlpineSearchBox from '@/components/AlpineSearchBox.astro'
import TermLanguageCard from '@/components/TermLanguageCard.astro'
import fiches from '@/terms-list.json'
import { getFiche } from '@/js/sanity'

import { languages } from '@/i18n/config'

export function getStaticPaths() {
  return fiches.map((fiche) => {
    return { params: { slug: fiche.slug }, props: { entry_id: fiche.entry_id } }
  })
}

const { props } = Astro

const fiche = await getFiche(props.entry_id)
---

<Layout title="Fiche">
  <AlpineSearchBox />

  <!--   <div
    class={`grid grid-cols-1 gap-6 ${
      selectedLanguages.length === 1
        ? 'lg:grid-cols-1 max-w-2xl mx-auto'
        : selectedLanguages.length === 2
          ? 'lg:grid-cols-2'
          : 'lg:grid-cols-3'
    }`}
  >
  </div> -->

  <div class="flex gap-6 flex-wrap justify-center">
    {
      languages.map((lang) => (
        <TermLanguageCard content={fiche.content[lang.code]} lang={lang.code} />
      ))
    }
  </div>
</Layout>
